[submodule "liboqs"]
	path = liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
[submodule "WebCpp-Interaction-Lib"]
	path = WebCpp-Interaction-Lib
	url = git@github.com:0x0015/WebCpp-Interaction-Lib.git
